# Database
MONGODB_URI=mongodb+srv://saikartg2_db_user:saikat9874367345@cluster0.mq0vjwq.mongodb.net/

# Razorpay
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Cloudinary
CLOUDINARY_CLOUD_NAME=do2o5hivf
CLOUDINARY_API_KEY=958978893983949
CLOUDINARY_API_SECRET=V3j9JTw71Kd033Y6jWh44Qdm9G4

# Admin access
ADMIN_SECRET=1234

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
